
body{
  background: url("../images/1.jpg") no-repeat;
  background-size: 100% auto;
}

#login-box h1{
  color: #FFFFFF;
}

#login-box{
  width: 30%;
  height: auto;
  border: 0;
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
  padding: 20px 50px;
  background: #00000060;
  border-radius: 15px;
}
#login-box .form .item{
  margin-top: 15px;
}
#login-box .form .item i{
  font-size: 12px;
  color: #FFFFFF;
}

#login-box .form .item input{
  border: 0;
  width: 180px;
  font-size: 18px;
  border-bottom: 2px solid #000000;
  padding: 5px 10px;
  background: #ffffff00;
  color: #ffffff;
}

#login-box #stu_login{
  margin-top: 15px;
  width: 150px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #5698c3;
  border: 0;
  border-radius: 15px;
}
#login-box #admin_login{
  margin-left: 20px;
  margin-top: 15px;
  width: 150px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background: #5698c3;
  border: 0;
  border-radius: 15px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

